<div class="row">
  <div class="col-md-3">
    <%= render partial: "webhook_data/form", locals: { webhook_data: @webhookdata, url_path: webhook_datum_path } %>
  </div>
  <div class="col-md-9">
    <h2>Webhook Data List</h2>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Data</th>
      </tr>
      </thead>
      <tbody>
      <%= render partial: "webhook_data/list", collection: @webhookdata_list, as: :webhook_data %>
      </tbody>
    </table>
  </div>
</div>